/* set all to make unstyled obvious */
@import url(https://fonts.googleapis.com/css?family=Roboto);


*{
    font-family: Roboto;
    color:red;
    font-size: 200%;
    background-color: black;
}

body{color:black;
    font-size: 100%;
    background-color: antiquewhite;
}

p{color:black;

    font-family: Roboto;
    font-size: 100%;
    background-color: antiquewhite;

}
